<%- include ('../layouts/adminheader') %>

<div class = container>
<h2 class="page-title">Add a page</h2>
<form action="/admin/pages/edit-page/<%= slug %>" method="post">
	<div class="form-group">
		<label for="">Title</label>
		<input class="form-control" type="text" name="title" placeholder="title" value="<%= title %>">
	</div>
	
	<div class="form-group">
		<label for="">Slug</label>
		<input class="form-control" type="text" name="slug" placeholder="slug" value="<%= slug %>">	
	</div>
	<div class="form-group">
        <label for="">Content</label>
        <textarea name="content" class="form-control"  cols="30" rows="10" placeholder="Content" ><%= content %></textarea>
	</div>
	
	<input type="hidden" name="id" value='<%= id %>'></input>
    
    <button class="btn btn-default">Submit</button>
</form>
</div>



<%- include ('../layouts/adminfooter') %>