<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>

    <title><%= title %></title>
  </head>
  <body>
    <!-- <div class="ajaxbg">
      <div class="ajaxinner">
          <h3>You are now being redirected to paypal...</h3>
          <img src="/images/ajax-loader.gif" alt=""/>
      </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="/" target="_blank">CMS Shopping cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto front-nav">
             <% pages.forEach(function(page) { %>
              <% if (page.slug == "home") { %>
                <li class="nav-item"><a class="nav-link" href='/'><%= page.title %><span class="sr-only">(current)</span></a></li>
              <% } else { %> 
                <li class="nav-item"><a class="nav-link" href='/<%= page.title %>'><%= page.title %><span class="sr-only">(current)</span></a></li>
                <% } %>
            <% }) %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                  <a class="nav-link" href="/cart/checkout">My Cart (
                      <% if (typeof cart !== "undefined") { %>
                      <%= cart.length %>
                      <% } else {%>
                      0
                      <% } %>
                  )</a>
              </li>
              <% if(user) {%>
              <li class="nav-item"><a class="nav-link" href="/users/logout">Hi, <%= user.username %> (logout)</a></li>
              <% } else { %>
                <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href='/users/login'>Log In</a></li>
                <% } %>
                <% if (user && user.admin == 1) { %>
                  <li class="nav-item"><a class="nav-link" href="/admib/pages"></a>Admin Area</a></li>
              <% } %>
            </ul>
          
          </div>
        </div>
        </nav>	  
<div class="container">
  <!-- display messages location -->
    <%- messages('messages', locals) %>
            
    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
        <% });%>
    <% }%>
<!-- display categories location -->
    <div class="row"> 
        <div class="col-xs-12 col-md-3">
            <h3>Categories</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="/products">All products</a></li>
                <% categories.forEach(function(c){ %>
                    <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
                <% }); %>
            </ul>
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-8">